.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

body {margin: 0px; padding: 0px; border-top: 2px solid #209CEE; background-color: #f6f6f6; font-family: Helvetica, sans-serif; font-size: 1.05rem; line-height: 1.5em; text-shadow: 1px 1px 0px #ffffff;}
div#body {max-width: 800px; margin: 0px auto; padding: 0px 25px;}
@media print{
	div#body {max-width: auto; padding: 0px;}
}

div#homelink {margin-bottom: 50px;}
div#homelink > a {
  display: inline-block; height: 100px; width: 50px; background-color: #209CEE; border-radius: 0px 0px 2px 2px;
  background-image: url(favicon-32x32.png); background-position: center bottom; background-repeat: no-repeat;
}
div#homelink > a:hover {background-position: center bottom+1px;}

div#sig {color: #445566; margin: 0 0 100px 0; border-top: 1px solid #cccccc; padding-top: 1em;}
div#sig.homepage {border-top: 0px solid #cccccc; margin: 100px 0;}
div#sig > a.backstop {
  float: right; margin-top: 2px;
  display: inline-block; height: 30px; width: 100px; background-color: #209CEE; border-radius: 2px;
  background-image: url(favicon-16x16.png); background-position: center left+5px; background-repeat: no-repeat;
}
div#sig > a.backstop:hover {background-position: center left+6px;}
div#sig div.socials {font-size: 0.85em; margin-top: 0.25em;}
div#sig div.socials div {display: inline;}
div#sig div.socials div a {margin-right: 1em; white-space: nowrap;}
div#sig div.socials div a i {margin-right: 0.25em;}
@media(max-width: 600px) {
  div#sig a.backstop {float: none;}
	div#sig div.socials div {display: block;}
}

div#bio {}
div#bio h1.name {margin-bottom: 0;}
div#bio h1.name span.name {margin-right: .4em;}
div#bio h1.name span.lingos {white-space: nowrap; display: inline-block; padding-top: 0em; position: relative; top: -0.2em; margin-top: .2em; margin-left: -0.2em;}
div#bio h1.name span.lingos span.lingo {font-size: 0.4em; font-weight: normal; box-sizing: border-box; border: 1px solid #999999; color: #999999; border-radius: 40px; padding: 5px; display: inline-block; width: 2.5em; height: 2.3em; box-sizing: border-box; text-align: center; padding-top: 0.6em; margin-left: 0.25em; cursor: pointer; box-shadow: 1px 1px solid #ffffff; line-height: 1em;}
div#bio h1.name span.lingos span.lingo:hover {border-color: #209CEE; color: #209CEE; background-color: #ffffff;}
div#bio h1.name span.lingos span.lingo.current {background-color: #209CEE; border-color: #209CEE; text-shadow: 0px 0px 0px transparent; color: #ffffff;}
div#bio div.blurb {margin-top: 0.5em; line-height: 2em; color: #333333; box-sizing: border-box;}
div#bio div.blurb div.version {box-sizing: border-box;}
div#bio div.blurb span.icon {color: #666666; font-size: 1.5em; position: relative; top: 3px; margin: 0px 0.25em;}
div#bio div.data {margin-top: 3em; color: #778899; font-size: 0.9em; line-height: 1.5em;}
div#bio div.data div.group {padding-left: 60px; position: relative; margin-top: 0.5em;}
div#bio div.data div.group span.icon {position: absolute; left: 10px; top: 7px;}
div#bio div.data div.group div.item {position: relative; padding-left: 1.5em; margin-bottom: 0.15em;}
div#bio div.data div.group div.item span.bullet {position: absolute; left: 0;}

h2.overYears {font-size: 0.85em; text-align: center; margin: 7em 0 3em 0; font-weight: normal; color: #999999; text-transform: uppercase;}
h2.overYears::before {content: "•"; margin-right: 1em;}
h2.overYears::after {content: "•"; margin-left: 1em;}

div.years {}
div.years div.year {}
div.years div.year h3 {margin-bottom: 0.5em; margin-top: 2em; font-size: 1.25em; font-weight: normal;}
div.years div.year div.item {border-top: 1px solid #cccccc; padding-top: 0.5em; margin-bottom: 0.5em;}
div.years div.year div.item:last-child {border-bottom: 1px solid #cccccc; padding-bottom: 0.5em;}
div.years div.year div.item div.tagline {line-height: 1.25em; margin-bottom: 0.25em;}
div.years div.year div.item div.tagline > span.type {font-size: 0.75em; color: #666666; font-weight: bold;}
div.years div.year div.item div.tagline > span.coauthors {font-style: italic; font-size: 0.9em; color: #999999;}
div.years div.year div.item h3.title {font-weight: bold; color: #444444; margin: 0px; font-size: 1em;}
div.years div.year div.item h3.title a.biblink {font-weight: normal; font-size: 0.75em; color: #999999; border: 1px solid #cccccc; padding: 0px 6px; border-radius: 2px; margin-left: 0.25em; position: relative; top: -1px; box-shadow: 1px 1px 0px #ffffff;}
div.years div.year div.item h3.title a.biblink:hover {color: #666666; border-color: #666666;}
div.years div.year div.item div.blurb {color: #666666; font-size: 0.9em; line-height: 1.5em; margin-top: 3px;}
div.years div.year div.item div.data {color: #666666; font-size: 0.9em; line-height: 1.5em; margin-top: 3px;}
div.years div.year div.item div.data span.intro {color: #000000; font-size: 0.8em; margin-right: 0.25em; }
div.years div.year div.boxtitle {margin-top: 1em;}
div.years div.year div.boxtitle span {font-size: 0.75em; color: #666666; font-weight: bold; background-color: #ffffff; padding: 5px 10px; margin-left: -10px; border-radius: 8px; box-shadow: 0px 0px 10px #ffffff;}
div.years div.year div.arts {padding: 0px 25px 0.5em 25px; margin: 0px -25px; background-color: #ffffff; border: 1px solid #999999; border-radius: 8px; margin-top: -0.65em;}
div.years div.year div.arts div.item {margin-top: 1em; padding-top: 1em;}
div.years div.year div.arts div.item:first-child {border-top: 0px; margin-top: 0.3em;}
div.years div.year div.arts div.item:last-child {border-bottom: 0px}
@media(max-width: 1080px) {
	div.years div.year div.arts {border-radius: 0px; border-left: 0px; border-right: 0px; margin-left: -20px; margin-right: -20px;}
}


h1 {font-size: 2em; line-height: 1.15em;}
p.subtitle {font-size: 1.15em; line-height: 1.65em; color: #445566; margin-top: -1em; margin-bottom: 1em;}
h2 {font-size: 1.5em; line-height: 1.15em; margin: 1.25em 0 0.75em 0;}
p {margin: 0 0 1em 0px;}
hr {border: 0px; border-top: 1px solid #cccccc; margin-bottom: 1em;}

a {color: #0f6ba8; text-decoration: none;}
a:hover {color: #209CEE;}
p.lead {font-size: 1.15em; line-height: 1.65em; color: #445566}
p.meta {color: #445566}

figure {margin: 2em 0px;}
figure img {max-width: 100%; border-radius: 4px; border: 1px solid #999999;}
figure figcaption {color: #999999; font-size: 0.9em;}
figure.floatLeft {float: left; margin-right: 1.75em; margin-top: 0; padding-top: 10px;}
figure.floatRight {float: right; margin-left: 1.75em; margin-top: 0; padding-top: 10px;}
figure.center {text-align: center;}
figure.center > div {background-color: #999999; line-height: 0; border-radius: 4px; border: 1px solid #999999;}
figure.center > div > img {border: 0; border-radius: 0px;}
figure.center figcaption {margin-top: 10px;}

.initialism {font-size: 0.9em;}
