@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

body {margin: 0px; padding: 0px; border-top: 2px solid #209CEE; background-color: #f6f6f6; font-family: Helvetica, sans-serif; font-size: 1.05rem; line-height: 1.5em; text-shadow: 1px 1px 0px #ffffff;}
.cyr {font-family: Arial, sans-serif;}

div#body {max-width: 800px; margin: 0px auto; padding: 0px 25px;}
@media print{
	div#body {max-width: auto; padding: 0px;}
}

div#homelink {
  margin-bottom: 50px;
  position: relative;
}
div#homelink > a.L {
  display: inline-block; height: 100px; width: 40px; background-color: #209CEE; border-radius: 0px 0px 2px 2px;
  background-image: url(../favicon-32x32.png); background-position: center bottom+5px; background-repeat: no-repeat;
}
div#homelink > a.L:hover {background-position: center bottom+4px;}

div#homelink > a.offtopic {
  display: inline-block;
  font-size: 0.8em;
  line-height: 1em;
  padding: 8px 15px;
  position: absolute;
  bottom: 10px;
  left: 60px;
  white-space: nowrap;
  color: #209CEE;
  border-bottom: 2px solid #209CEE;
  text-shadow: none;
  font-weight: bold;
}
div#homelink > a.offtopic:hover {
}

div#sig {color: #445566; margin: 100px 0 50px 0; border-top: 1px solid #cccccc; padding-top: 1em;}
div#sig.homepage {border-top: 0px solid #cccccc; margin: 100px 0;}
div#sig > a.backstop {
  float: right; margin-top: 2px;
  display: inline-block; height: 25px; width: 100px; background-color: #209CEE; border-radius: 2px;
  background-image: url(../favicon-16x16.png); background-position: center left+5px; background-repeat: no-repeat;
}
div#sig > a.backstop:hover {background-position: center left+4px;}
div#sig div.socials {font-size: 0.85em; margin-top: 0.25em;}
div#sig div.socials div {display: inline;}
div#sig div.socials div a {margin-right: 1em; white-space: nowrap;}
div#sig div.socials div a i {margin-right: 0.25em; font-size: 1.35em; position: relative; top: 2px;}
@media(max-width: 600px) {
  div#sig a.backstop {float: none;}
	div#sig div.socials div.long {display: block; margin-bottom: 10px; margin-top: 10px;}
}

div#bio {}
div#bio img.portrait {
  width: 100px;
  border-radius: 4px;
  float: left;
  margin-right: 30px;
  margin-bottom: 20px;
  margin-top: 10px;
}
div#bio h1.name {
  margin-bottom: 0;
  overflow-y: auto;
}
div#bio h1.name span.nameContainer {
  display: block;
  float: left;;
  margin-right: .4em;
}
div#bio h1.name span.name {
  display: block;
}
div#bio h1.name span.ipa {
  display: block;
  margin-top: 0em;
  color: #999999;
  font-family: monospace;
  font-size: 0.65em;
  font-weight: normal;
}
div#bio h1.name span.lingos {
  white-space: nowrap;
  float: left;
  display: block;
  padding-top: 0em;
  position: relative;
  top: -0.2em;
}
div#bio h1.name span.lingos span.lingo {
  font-size: 0.4em; font-weight: normal; box-sizing: border-box; border: 1px solid #999999; color: #999999; border-radius: 4px; padding: 7px 5px 5px 5px; display: inline-block; width: 2.5em; box-sizing: border-box; text-align: center; margin-left: 0.25em; cursor: pointer; box-shadow: 1px 1px solid #ffffff; line-height: 1em;
}
div#bio h1.name span.lingos span.lingo:hover {border-color: #209CEE; color: #209CEE; background-color: #ffffff;}
div#bio h1.name span.lingos span.lingo.current {background-color: #209CEE; border-color: #209CEE; text-shadow: 0px 0px 0px transparent; color: #ffffff;}
div#bio div.blurb {margin-top: 2em; line-height: 2em; color: #333333; box-sizing: border-box;}
div#bio div.blurb div.version {box-sizing: border-box;}
div#bio div.blurb span.icon {color: #666666; font-size: 1.5em; position: relative; top: 3px; margin: 0px 0.25em;}
div#bio div.data {margin-top: 2em; color: #778899; font-size: 0.9em; line-height: 1.5em;}
div#bio div.data div.group {padding-left: 60px; position: relative; margin-top: 1.5em;}
div#bio div.data div.group span.icon {position: absolute; left: 10px; top: 7px;}
div#bio div.data div.group div.item {position: relative; padding-left: 1.5em; margin-bottom: 0.15em;}
div#bio div.data div.group div.item span.bullet {position: absolute; left: 0;}

h2.overYears {font-size: 0.85em; text-align: center; margin: 7em 0 3em 0; font-weight: normal; color: #999999; text-transform: uppercase;}
h2.overYears::before {content: "•"; margin-right: 1em;}
h2.overYears::after {content: "•"; margin-left: 1em;}

div.years {}
div.years div.year {}
div.years div.year h3 {margin-bottom: 0.5em; margin-top: 2em; font-size: 1.25em; font-weight: normal;}
div.years div.year > h3 {border-bottom: 1px solid #cccccc;}
div.years div.year div.item {
  padding-top: 0.75em; margin-bottom: 0.75em; position: relative;
}
div.years div.year div.item:last-child {x-border-bottom: 1px solid #cccccc; padding-bottom: 0.5em;}
div.years div.year div.item div.tagline {line-height: 1.25em; margin-bottom: 0.25em;}
div.years div.year div.item div.tagline > span.icon {font-size: 1.5em; position: absolute; left: -2em; top: 1.55em; color: #666666; text-shadow: none; display: block; width: 1.25em; text-align: center;}
div.years div.year div.item div.tagline > span.type {font-size: 0.75em; color: #666666; font-weight: bold;}
div.years div.year div.item div.tagline > span.coauthors {font-style: italic; font-size: 0.9em; color: #999999;}
div.years div.year div.item h3.title {font-weight: bold; color: #444444; margin: 0px; font-size: 1em;
  font-family: "Gentium Plus", serif;
  font-size: 1.4em;
}
div.years div.year div.item h3.title a.biblink {display: inline-block; font-weight: normal; font-size: 0.75em; color: #999999; border: 1px solid #cccccc; padding: 6px 6px 2px 6px; line-height: 0.75em; border-radius: 2px; margin-left: 0.25em; position: relative; top: -1px; box-shadow: 1px 1px 0px #ffffff;}
div.years div.year div.item h3.title a.biblink:hover {color: #666666; border-color: #666666;}
div.years div.year div.item h3 span.inside {margin-right: 5px;;}
div.years div.year div.item h3 span.originalAuthor {color: #666666; font-style: italic; font-size: 0.95em; font-weight: normal; white-space: nowrap;}
div.years div.year div.item h3 a:hover span.originalAuthor {color: #667799;}
div.years div.year div.item div.blurb {color: #333333; font-size: 0.9em; line-height: 1.5em; margin-top: 5px;
  font-family: "Gentium Plus", serif;
  font-size: 1.05em;
}
div.years div.year div.item div.data {color: #666666; font-size: 0.9em; line-height: 1.5em; margin-top: 3px;}
div.years div.year div.item div.data span.intro {color: #000000; font-size: 0.8em; margin-right: 0.25em; }
div.years div.year div.boxtitle {margin-top: 1.75em;}
div.years div.year div.boxtitle span {font-size: 0.75em; color: #666666; font-weight: bold; background-color: #ffffff; padding: 5px 10px; margin-left: -10px; border-radius: 8px; box-shadow: 0px 0px 10px #ffffff;}

div.years div.year div.arts {
  margin-top: 25px;
}
div.years div.year div.arts div.item {
  padding: 25px 25px 25px 25px;
  margin: 0px 0px;
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 1em;
  padding-left: 240px;
}
@media(max-width: 500px) {
  div.years div.year div.arts div.item {
    padding-left: 25px;
  }
}

div.years div.year div.item a.image {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 200px;
  bottom: 20px;
  border-radius: 2px;
  background-size: cover;
}
@media(max-width: 500px) {
  div.years div.year div.item a.image {
    position: relative;
    left: 0px;
    top: 2px;
    width: auto;
    bottom: 0px;
    height: 100px;
    display: block;
    margin-bottom: 20px;
  }
}

@media(max-width: 1080px) {
	div.years div.year div.arts {border-radius: 0px; border-left: 0px; border-right: 0px; margin-left: -10px; margin-right: -10px;}
}
@media(max-width: 950px) {
  div.years div.year div.item div.tagline > span.icon {display: none;}
}


h1 {font-size: 2em; line-height: 1.15em;}
p.subtitle {font-size: 1.15em; line-height: 1.65em; color: #445566; margin-top: -1em; margin-bottom: 1em;}
h2 {font-size: 1.5em; line-height: 1.15em; margin: 1.25em 0 0.75em 0;}
p {margin: 0 0 1em 0px; line-height: 1.5em}
hr {border: 0px; border-top: 1px solid #cccccc; margin-bottom: 1em;}

a {color: #0f6ba8; text-decoration: none;}
a:hover {color: #209CEE;}
p.lead {font-size: 1.15em; line-height: 1.65em; color: #445566}
p.lead.mitAbstand {margin-bottom: 1.25em;}
p.meta {color: #445566}
p.author {font-style: italic; margin-top: -1.5em; font-size: 1.25em;}
p.preintro {font-style: italic; margin-bottom: 2em; font-size: 1.05em; color: #333333;}

figure {margin: 2em 0px;}
figure img {max-width: 100%; border-radius: 4px; border: 1px solid #999999;}
figure figcaption {color: #666666; font-size: 1em;}
figure.floatLeft {float: left; margin-right: 1.75em; margin-top: 0; padding-top: 10px;}
figure.floatRight {float: right; margin-left: 1.75em; margin-top: 0; padding-top: 10px;}
figure.shrink {width: 40%;}
figure.shrink img {width: 100%;}
figure.center {text-align: center;}
figure.center > div {background-color: #999999; line-height: 0; border-radius: 4px; border: 1px solid #999999;}
figure.center > div > img {border: 0; border-radius: 0px;}
figure.center figcaption {margin-top: 10px;}

.initialism {font-size: 0.9em;}

dl {}
dl dt {font-weight: bold; float: left; margin-right: 0.5em; clear: left;}
dl dd {margin-left: 20px; margin-bottom: 0.25em;}

div.vanity {
  margin-top: 30px;
  margin-left: -100px;
  margin-right: -100px;
  overflow-x: auto;
  text-align: center;
  font-size: 0.9em;
  line-height: 1.5em;
  /* background-color: #eeeeee;
  min-height: 100px; */
}
@media(max-width: 1000px) {
  div.vanity {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media(max-width: 500px) {
  div.vanity {
    /* white-space: nowrap;
    overflow-x: scroll; */
    padding-bottom: 20px;
    /* margin-right: -25px;
    margin-left: -25px;
    padding-left: 15px; */
  }
}
div.vanity a.box {
  display: inline-block;
  text-align: center;
  padding-top: 1px;
  margin: 30px 5px 0px 5px;
  min-width: 125px;
}
/* @media(max-width: 500px) {
  div.vanity a.box {
    min-width: auto;
    border: 1px solid #eeeeee;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 4px;
    margin-left: 5px;
    margin-right: 5px;
  }
  div.vanity a.box:last-child {
    margin-right: 25px;
  }
} */
div.vanity a.box img.icon {
  width: 40px;
  height: 40px;
}
div.vanity a.box:hover img.icon {
  position: relative;
  top: -1px;
}
@media(max-width: 500px) {
}
div.vanity a.box span.title {
  display: block;
  font-weight: bold;
}
div.vanity a.box img.icon.makeSmaller {
  width: 32px;
  height: 32px;
  margin-top: 4px;
  margin-bottom: 4px;
}
div.vanity a.box span.url {
  display: block;
  color: #108556;
}
div.vanity a.box:hover span.url {
  color: #1eb87a;
  text-decoration: underline;
}

a.book {
  border: 1px solid #eeeeee;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 4px;
  position: relative;
  padding-left: 100px;
  min-height: 100px;
  margin: 50px auto 0px auto;
  max-width: 500px;
  display: block;
  text-decoration: none;
  line-height: 1.35em;
}
@media(max-width: 500px) {
  a.book {
    margin-top: 20px;
    margin-left: -10px;
    margin-right: -10px;
  }
}
a.book i.icon {
  position: absolute;
  top: 50px;
  right: 20px;
}
@media(max-width: 500px) {
  a.book i.icon {
    display: none;
  }
  }
a.book img.bookcover {
  height: 100px;
  position: absolute;
  left: 10px;
  top: 10px;
}
a.book span.title {
  display: block;
  margin-top: 1.2em;
  font-weight: bold;
}
a.book span.author {
  display: block;
  font-size: 0.9em;
  color: #666666;
  margin-top: 0.05em;
}
a.book span.biblio {
  display: block;
  font-size: 0.9em;
  color: #999999;
}

div.rubric {
  margin-top: 100px;
  margin-bottom: -55px;
  text-transform: uppercase;
  font-size: 0.95em;
}
div.rubric span {
  font-weight: bold;
  color: #999999;
  border-bottom: 3px solid #cccccc;
  padding-bottom: 12px;
  text-shadow: none;
}
div.item div.rubric {
  margin-top: 0px;
  margin-bottom: 8px;
  font-size: 0.8em;
}
div.item  div.rubric span {
  border-width: 2px;
  padding-bottom: 5px;
}

div.markdown {
  margin-top: 75px;
  font-family: "Gentium Plus", serif;
  font-size: 1.2em;
}
div.markdown * {
  line-height: 1.75em !important;
}
div.markdown h1 {
  line-height: 1.25em !important;
}
div.markdown em {
  font-size: 1.05em;
}